<script type="text/template" id="instrument-template">
  <div class="row <%%- category %>" id="instrument-<%%- row %>">
    <div class="large-1 columns instrument">
      <p><%%- name %></p>
    </div>
    <div class="large-11 columns notes"></div>
  </div>
</script>
<script type="text/template" id="note-template">
<div class="note-inner <%% active ? null : print('inactive') %>">
  </div>
</script>
<script type="text/template" id="rhythm-template">
  <div class="large-2 large-offset-1 columns">
    <div id="play" class="button"><i class="fa fa-play"></i></div>
  </div>
  <div class="large-2 columns bpm">
    <label>BPM
      <input id="bpm" type="number" value="<%%- bpm %>" />
    </label>
  </div>
</script>
<%= render "/layouts/navbar" %>
<div id="pulse-view">
  <div class="row">
    <div id="kit" class="large-12 columns">

    </div>
  </div>
  <div id="controls" class="row controls">
    <div class="large-3 columns">
      <label>Rhythm
        <select id="rhythm-select">
          <% @rhythms.each do |rhythm| %>
            <option value="<%= rhythm.id %>"><%= rhythm.name %></option>
          <% end %>
        </select>
      </label>
    </div>
    <div class="large-3 columns">
      <label>Kit
        <select id="kit-select">
          <% @kits.each do |kit| %>
            <option value="<%= kit.id %>"><%= kit.name %></option>
          <% end %>
        </select>
      </label>
    </div>
    <div class="large-1 columns"></div>
  </div>
</div>
